<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_cpu']"
                [loading]="data['loading_cpu']"
                [range]="null"
                topTitle="Node Power Consumption"
                labelY="Consumption (W)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_temp']"
                [loading]="data['loading_temp']"
                [range]="null"
                topTitle="Ambient Temperature"
                labelY="Temp (°C)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_cpu_temp']"
                [loading]="data['loading_cpu_temp']"
                [range]="null"
                topTitle="CPU Power"
                labelY="Power (W)">
            </ex-graph>
        </div>
    </div>
</div>

<!--div class="row mb-3">
    <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            core temperature per node (node #1)
        </div>
    </div>

     <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            core temperature per node (node #2)
        </div>
    </div>

    <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            core temperature per node (node #x)
        </div>
    </div>
</div-->

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_gpu']"
                [loading]="data['loading_gpu']"
                [range]="null"
                topTitle="GPU Power"
                labelY="Power (W)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_fan']"
                [loading]="data['loading_fan']"
                [range]="null"
                topTitle="Fan Power"
                labelY="Power (W)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_pci']"
                [loading]="data['loading_pci']"
                [range]="null"
                topTitle="PCI-Express Power"
                labelY="Power (W)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_mem']"
                [loading]="data['loading_mem']"
                [range]="null"
                topTitle="Memory Power"
                labelY="Power (W)">
            </ex-graph>
        </div>
    </div>
</div>


