<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title"># of jobs</small>
                <h4>{{ data?.total?.jobs | number:'1.0' }}</h4>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title">Used core time</small>
                <h4>{{ data?.total?.duration | number:'1.0' }} s</h4>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title"># of required nodes</small>
                <h4>{{ data?.total?.nodes | number:'1.0' }}</h4>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title"># of required cores</small>
                <h4>{{ data?.total?.cpus | number:'1.0' }}</h4>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title"># of required GPUs</small>
                <h4>{{ data?.total?.gpus | number:'1.0' }}</h4>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title"># of required MICs</small>
                <h4>{{ data?.total?.mics | number:'1.0' }}</h4>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="chart_data.cluster_load"
                [loading]="chart_data.cluster_load_loading"
                topTitle="Cluster Load" labelY="Load (%)"></ex-graph>
        </div>
    </div>

    <div class="col-2">
        <div class="card text-center number">
            Current cluster load
        </div>
    </div>
</div>

<div class="row mb-3">

    <div class="col">
        <div class="card text-center number">
            Total energy used
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            current energy usage
        </div>
    </div>


</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="chart_data.cluster_temp"
                [loading]="chart_data.cluster_temp_loading"
                [range]="null"
                topTitle="Cluster Temperature" labelY="Temperature (°C)"></ex-graph>
        </div>
    </div>


    <div class="col-2">
        <div class="card text-center number">
            Current cluster temp
        </div>
    </div>
</div>
