.varlist {
    textarea {
        height: 10em;
    }

    word-break: break-all;
}

.openable {
    &, .card-block, .card-title {
        cursor: pointer;
    }

    &:hover {
        background-color: darken(#FFF, 5%);
    }
}

.modal-content {
    h5 {
        small {
            font-size: 0.75em!important;
        }
    }

}

.core {
    border: 1px solid darken(#FFF, 15%);
    padding: 0.5em 0;
    text-align: center;
}
