<section class="job-info" *ngIf="job?.loaded">
<div class="row mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                Job ID: {{ job?.data?.job_id }} |
                User ID: {{ job?.data?.user_id }} |
                Account name: {{ job?.data?.account_name }} |
                Project: {{ job?.data?.project }} |
                Job Name: {{ job?.data?.job_name }}
            </div>
        </div>
    </div>
</div>

<div class="row mb-3" *ngIf="job?.loaded">
    <div class="col-md-4">
        <div class="card time">
            <div class="card-block">
            <h4 class="card-title">Times</h4>
                <p>
                    <small>Duration: </small>
                    <span *ngIf="job.data.duration.days">
                        {{ job.data.duration.days }} day<span *ngIf="job.data.duration.days > 1">s</span>
                    </span>
                    <span *ngIf="job.data.duration.hours">
                        {{ job.data.duration.hours }} hour<span *ngIf="job.data.duration.hours > 1">s</span>

                    </span>
                    <span *ngIf="job.data.duration.minutes">
                        {{ job.data.duration.minutes }} min<span *ngIf="job.data.duration.minutes > 1">s</span>
                    </span>
                    <span *ngIf="job.data.duration.seconds">
                        {{ job.data.duration.seconds }} sec<span *ngIf="job.data.duration.seconds > 1">s</span>
                    </span>
                </p>

                <p>
                    <small>Queue time: </small>
                    {{ job.data.queue_time | date:'HH:mm:ss dd/MM/yy' }}
                </p>
                <p>
                    <small>Start time:</small>
                    {{ job.data.start_time | date:'HH:mm:ss dd/MM/yy' }}
                </p>
                <p>
                    <small>End time:</small>
                    {{ job.data.end_time | date:'HH:mm:ss dd/MM/yy' }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-block text-center">
                        <small class="card-title">Memory</small>
                        <h5>{{ job?.data?.mem_req | number }} MB</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-block text-center">
                        <small class="card-title">Time</small>
                        <h5>{{ job?.data?.time | number }} s</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-block text-center">
                        <small class="card-title">GPUs</small>
                        <h5>{{ job?.data?.gpus | number }}</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-block text-center">
                        <small class="card-title">MICs</small>
                        <h5>{{ job?.data?.mics | number }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">

            <div class="col">
                <div class="card openable"
                    (click)="modal.open(nodes, { windowClass: 'nodes-modal' })">
                    <div class="card-block text-center">
                        <small class="card-title">Nodes &rarr;</small>
                        <h5>{{ job?.data?.nodes | number }}</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card openable"
                    (click)="modal.open(nodes, { windowClass: 'nodes-modal' })">
                    <div class="card-block text-center">
                        <small class="card-title">Cores &rarr;</small>
                        <h5>{{ job?.data?.cpus | number }}</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card openable"
                    (click)="modal.open(variables, {size : 'lg'})">
                    <div class="card-block text-center">
                        <small class="card-title">Variables &rarr;</small>
                        <h5>{{ job?.data?.variable_list | objectSize }}</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-block text-center">
                        <small class="card-title">MPI Processes</small>
                        <h5>{{ job?.data?.mpi_procs | number }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3" *ngIf="job?.loaded">
    <div class="col">
        <div class="card">
            <div class="card-block text-center">
                <small class="card-title">Status</small>
                <div *ngIf="job?.data?.active">
                    <h5 *ngIf="!job?.data?.exc_begin && !job.data.exc_end">
                        Queued
                    </h5>
                    <h5 *ngIf="job?.data?.exc_begin && !job.data.exc_end">
                        Execution began
                    </h5>
                    <h5 *ngIf="job?.data?.exc_begin && job?.data?.exc_end">
                        Finished
                    </h5>
                </div>

                <h5 *ngIf="!job?.data?.active">Finished</h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-block text-center">
                <small class="card-title">Average Power</small>
                <h5 *ngIf="!job?.data?.power">-- W</h5>
                <h5 *ngIf="job?.data?.power">
                    {{ job?.data?.power | number:'1.1-2' }} W
                </h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-block text-center">
                <small class="card-title">GPU Power</small>
                <h5 *ngIf="!job?.data?.gpu_power">-- %</h5>
                <h5 *ngIf="job?.data?.gpu_power">
                    {{ job?.data?.gpu_power | number:'1.1-2' }} W
                </h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-block text-center">
                <small class="card-title">CPUs Utilization</small>
                <h5 *ngIf="!job?.data?.cpu_util">-- %</h5>
                <h5 *ngIf="job?.data?.cpu_util">
                    {{ job?.data?.cpu_util * 100 | number:'1.1-2'}} %
                </h5>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-block text-center">
                <small class="card-title">Average Temperature</small>
                <h5 *ngIf="!job?.data?.temp">-- °C</h5>
                <h5 *ngIf="job?.data?.temp">
                    {{ job?.data['temp'] | number:'1.1-2'}} °C
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col" *ngIf="!data?.loading_load_core">
        <div class="card" style="height: 400px">
            <canvas baseChart
                [datasets]="[{
                    'data' : data?.job_load_core?.data,
                    'label' : 'Cores\' Load'
                }]"
                [labels]='data?.job_load_core?.labels'
                [options]="load_core_options"
                [colors]='[{backgroundColor: "#3ebf9b"}]'
                chartType="bar">
            </canvas>
        </div>
    </div>
</div>


</section>

<ng-template #nodes let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Assigned Nodes and cores</h4>
    <button type="button" class="close" aria-label="Close" (click)="c()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="(job.data.asoc_nodes | objectSize)">
      <div *ngFor="let node of job.data.asoc_nodes" class="mb-3">
          <h5>{{ node.node }} <small>| # of cores: {{ node.cores.length }}</small></h5>
          <div class="row">
              <span class="core col-3" *ngFor="let core of node.cores">
                  {{ core }}
              </span>
          </div>
      </div>
  </div>
  <div class="modal-body" *ngIf="(job.data.asoc_nodes | objectSize) == 0">
      No info about nodes and cores
  </div>
</ng-template>

<ng-template #variables let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Variables</h4>
    <button type="button" class="close" aria-label="Close" (click)="c()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <ul class="varlist">
          <li *ngFor="let variable of job.data.variable_list | mapToIterable">{{ variable['key'] }} : {{ variable['value'] }}</li>
      </ul>
  </div>
</ng-template>
