*:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

#main_canvas_container {
  width: 100%;
  height: calc(100vh - 200px);
  position: relative;
  margin-top: 1em;
}

#label {
    position: absolute;
    right: 25px;
    top: 148px;
    padding: 1em;
    background: rgba(255,255,255,0.75);
    border-radius: 3px;
}

/deep/ {
    .color-bar {
        width: 100%;
        height: 7px;
        display: block;
    }

    .hide {
        display: none;
    }
}
