<div class="row mb-3">
    <div class="col-9">
        <div class="card text-center timeseries" style="height: 200px">
            Power per node/core averaged by 5 seconds (if time > 60s)
        </div>
    </div>

    <div class="col-3">
        <div class="card text-center align-items-center" style="height: 200px">
            Total energy consumed (one number)
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            chipset (pch_temp) temperature per node
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            core temperature per node (node #1)
        </div>
    </div>

     <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            core temperature per node (node #2)
        </div>
    </div>

    <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            core temperature per node (node #x)
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            dram power per node
        </div>
    </div>

    <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            CPU power per node
        </div>
    </div>
</div>


