<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_power']"
                [loading]="data['loading_power']"
                [range]="null"
                topTitle="Power consumption"
                labelY="Consumption (W)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_temp']"
                [loading]="data['loading_temp']"
                [range]="null"
                topTitle="Chipset Temperature"
                labelY="Temp (°C)">
            </ex-graph>
        </div>
    </div>
</div>

<!--div class="row mb-3">
    <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            core temperature per node (node #1)
        </div>
    </div>

     <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            core temperature per node (node #2)
        </div>
    </div>

    <div class="col">
        <div class="card text-center timeseries" style="height: 200px">
            core temperature per node (node #x)
        </div>
    </div>
</div-->

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_cpu_dram_power']"
                [loading]="data['loading_cpu_dram_power']"
                [range]="null"
                topTitle="CPU and DRAM Power"
                labelY="Power (W)">
            </ex-graph>
        </div>
    </div>
</div>


