/deep/ ngb-tabset .nav {
    margin-bottom: 1rem;
}

/deep/ {
    * {
        .bullet {
            background: url('/assets/bullet.png') no-repeat center center;
            background-size: contain;
        }

        .timeseries {
            background: url('/assets/timeseries.png') no-repeat center center;
            background-size: contain;
        }

        .donut {
            background: url('/assets/piechart.png') no-repeat center center;
            background-size: contain;
        }

        .number {
            background: url('/assets/number.png') no-repeat center center;
            background-size: contain;
        }

    }
}

