<nav class="navbar navbar-toggleable-md navbar-light mb-4">
    <button class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"
        [routerLink]="['/jobs', '2702409.io01']">
        <img src="assets/examon_logo.png" alt="Examon" height="30"/>
    </a>

    <div class="collapse navbar-collapse row" id="navbarText">
    <ul class="navbar-nav mr-auto ml-4">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">
            Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/public']">
            Public
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sysadmin']">
            Sysadmin
        </a>
      </li>
    </ul>
    <form class="input-group col-4">
        <input type="text" [(ngModel)]="job.id" name="jobid" class="form-control" placeholder="Job ID">
        <span class="input-group-btn">
            <button [routerLink]="['/jobs', job.id]" class="btn btn-primary">Search</button>
        </span>
    </form>
  </div>
</nav>
