<div class="container">
    <div class="row my-5">
        <form novalidate style="min-width: 350px; margin: 0 auto;">
            <h2 class="text-center">Job Lookup</h2>
            <div class="input-group">
                <input type="text"
                    [(ngModel)]="jobid"
                    name="jobid"
                    class="form-control"
                    placeholder="Enter the job ID">
                <span class="input-group-btn">
                    <button type="button"
                        class="btn btn-primary"
                        (click)="lookup()">
                        Search
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="row">
        <h2 class="text-center mx-auto my-3">Jobs available <small>({{ jobs?.length }})</small></h2>

        <form #f="ngForm" (ngSubmit)="query(f.value)" class="col-offset-3 col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Minimum Job Duration (s)</span>
                </div>
                <input type="number" name="duration" id="duration" ngModel class="form-control" aria-describedby="basic-addon3">
                {{ duration }}
                <input type="submit" title="Query" class="btn btn-secondary">
            </div>
        </form>

        <table *ngIf="jobs" class="table table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Duration (s)</th>
                <th scope="col">Start time</th>
                <th scope="col">End time</th>
                <th scope="col">Classified</th>
            </tr>
            <tr *ngFor="let job of jobs" [routerLink]="[job?.job_id]" style="cursor: pointer">
                <td>{{ job?.job_id }}</td>
                <td>{{ job.metrics}}</td>
                <td>{{ (job.to - job.from) | number }}</td>
                <td>{{ job.from * 1000 | date:'HH:mm:ss dd/MM/yy' }}</td>
                <td>{{ job.to * 1000 | date:'HH:mm:ss dd/MM/yy' }}</td>
                <td>{{ classified_jobs.includes(job.job_id) }}</td>
            </tr>
        </table>
    </div>
</div>

