<div class="container-fluid" style="height: 100vh">
    <div class="row">
        <div class="wrapper container">
            <form novalidate style="width: 350px;">
                <div class="input-group">
                    <input type="text"
                        [(ngModel)]="jobid"
                        name="jobid"
                        class="form-control"
                        placeholder="Enter a job ID obtained by PBS">
                    <span class="input-group-btn">
                        <button type="button"
                            class="btn btn-primary"
                            (click)="lookup()">
                            Search
                        </button>
                    </span>
                </div>
            </form>

            <br />

            <div style="max-width: 600px">
                <h4>Active jobs</h4>
                <span *ngFor="let job of active_jobs_id "
                    class="btn btn-secondary btn-sm mr-2 mb-2">
                    <a [routerLink]="[job]" >{{ job }}</a>
                </span>

                <span *ngIf="active_jobs_id.length == 0">
                    <small>No active jobs :(</small>
                </span>
            </div>

            <table *ngIf="lastjob" class="table table-hover">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Account</th>
                    <th scope="col">Start time</th>
                    <th scope="col">End time</th>
                </tr>
                <tr *ngFor="let job of lastjob" [routerLink]="[job?.job_id]" style="cursor: pointer">
                    <td>
                        {{  job?.job_id }}
                    </td>
                    <td>{{ job.job_name}}</td>
                    <td>{{ job.account_name}}</td>
                    <td>{{ job.start_time | date:'HH:mm:ss dd/MM/yy' }}</td>
                    <td>{{ job.end_time | date:'HH:mm:ss dd/MM/yy' }}</td>
                </tr>
            </table>

        </div>
    </div>
</div>

