<div class="row mb-3" *ngFor="let metric of metrics_ranged">
    <div class="col-11">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_' + metric]"
                [loading]="data['loading_' + metric]"
                topTitle="{{ metric }}"
                labelY=""
                >
            </ex-graph>
        </div>
    </div>
    <div class="col-1">
        <div class="card text-center h-100">
            <label>Suspicious?</label>
            <input type="checkbox" name=metric [ngModel]="classifier[metric]" (ngModelChange)="checkChange($event, metric)" style="width: 100%; height: 100%;">
        </div>
    </div>
</div>

<div class="row mb-3" *ngFor="let metric of metrics_null">
    <div class="col-11">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_' + metric]"
                [loading]="data['loading_' + metric]"
                topTitle="{{ metric }}"
                labelY=""
                range="null"
                >
            </ex-graph>
        </div>
    </div>
    <div class="col-1">
        <div class="card text-center h-100">
            <label>Suspicious?</label>
            <input type="checkbox" name=metric [ngModel]="classifier[metric]" (ngModelChange)="checkChange($event, metric)" style="width: 100%; height: 100%;">
        </div>
    </div>
</div>

<div class="row">
    <pre class="col">
        {{ classifier | json }}
    </pre>

    <div class="col">
         <div class="card text-center h-50">
            <label>Whole job suspicious?</label>
            <input type="checkbox" name=metric [ngModel]="classifier['jobber']" (ngModelChange)="checkChange($event, 'jobber')" style="width: 25%; height: 25%;">
        </div>
        <button type="submit" (click)="saveClassifier()" class="btn btn-primary btn-large">SAVE</button>

        <div>
            {{ resp | json }}
        </div>
    </div>
</div>

