<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_load_core']"
                [loading]="data['loading_load_core']"
                topTitle="Core Load"
                labelY="Load (%)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_utils']"
                [loading]="data['loading_utils']"
                topTitle="Utilization"
                labelY="Utilization (%)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_ips']"
                [loading]="data['loading_ips']"
                topTitle="MIPS"
                range="null"
                labelY="MIPS">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_fe_bound']"
                [loading]="data['loading_fe_bound']"
                topTitle="Front-end Bounds"
                range="null"
                labelY="Bounds (%)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_be_bound']"
                [loading]="data['loading_be_bound']"
                topTitle="Back-end Bounds"
                range="null"
                labelY="Bounds (%)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_febe_bound']"
                [loading]="data['loading_febe_bound']"
                height="150"
                stacked="true"
                topTitle="Front/Back-end Bound"
                labelY="Utilization (%)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_cstates']"
                [loading]="data['loading_cstates']"
                topTitle="C3 & C6 States"
                labelY="Share">
            </ex-graph>
        </div>
    </div>
</div>
