<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_utilization']"
                [loading]="data['loading_utilization']"
                topTitle="Node's Utilization"
                labelY="Load (%)">
            </ex-graph>
        </div>
    </div>
</div>

<!--div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_utils']"
                [loading]="data['loading_utils']"
                topTitle="Utilization"
                labelY="Utilization (%)">
            </ex-graph>
        </div>
    </div>
</div-->

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_ips']"
                [loading]="data['loading_ips']"
                topTitle="MIPS"
                range="null"
                labelY="MIPS">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_freq']"
                [loading]="data['loading_freq']"
                topTitle="Frequency"
                range="null"
                labelY="MHz">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_notfin']"
                [loading]="data['loading_notfin']"
                topTitle="Not Finished & Not Busy Cycles"
                range="null"
                labelY="">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_mem_rd']"
                [loading]="data['loading_mem_rd']"
                topTitle="Memory R/W Requests"
                range="null"
                labelY="">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_l4']"
                [loading]="data['loading_l4']"
                topTitle="L4 Cache R/W Requests"
                range="null"
                labelY="">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_volt']"
                [loading]="data['loading_volt']"
                topTitle="Voltage Levels"
                range="null"
                labelY="">
            </ex-graph>
        </div>
    </div>
</div>
