<ex-navbar></ex-navbar>

<ex-rangepicker (onSelect)="onSelect($event)"></ex-rangepicker>

<ngb-tabset type="pills" class="mb-3" destroyOnHide="false">
    <ngb-tab>
        <ng-template ngbTabTitle>Overview</ng-template>
        <ng-template ngbTabContent>
            <ex-public-overview [time]="timewindow"></ex-public-overview>
        </ng-template>
    </ngb-tab>


    <ngb-tab>
        <ng-template ngbTabTitle>3D View</ng-template>
        <ng-template ngbTabContent>
            <ex-render></ex-render>
        </ng-template>
    </ngb-tab>

</ngb-tabset>
