<div class="row mb-3">
    <div class="col">
        <div class="card text-center number">
            Total jobs run
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            Total used time/Total required time
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            Total required nodes
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            Total required cores
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            Total energy used
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            current energy usage
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center number">
            system utilization
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            I/O utilization
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            CPU utilization
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            Mem utilization
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center timeseries">
            sys/io/cpu/mem utilization stacked
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center timeseries">
            Cluster temperature chipset, room temperature
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center timeseries">
            ??? required mem/gpu/mic/cores/nodes ??? with its limits
        </div>
    </div>
</div>


