<div class="row mb-3">
    <div class="col">
        <div class="card text-center number">
            Total jobs run
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            Total used time/Total required time
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            Total required nodes
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            Total required cores
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            Total energy used
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            current energy usage
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center number">
            system utilization
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            I/O utilization
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            CPU utilization
        </div>
    </div>

    <div class="col">
        <div class="card text-center number">
            Mem utilization
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            sys/io/cpu/mem utilization stacked

            <ex-graph
                [data]="data['job_utils']"
                [loading]="data['loading_utils']"
                topTitle="Utilization"
                labelY="Utilization (%)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            Cluster temperature chipset, room temperature

            <ex-graph
                [data]="data['job_temp']"
                [loading]="data['loading_temp']"
                topTitle="Temperature"
                [range]="null"
                labelY="Temp (%)">
            </ex-graph>

        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            Consumption

            <ex-graph
                [data]="data['job_power']"
                [loading]="data['loading_power']"
                topTitle="Power"
                [range]="null"
                [stacked]="true"
                labelY="Power (W)">
            </ex-graph>

        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center timeseries">
            ??? required mem/gpu/mic/cores/nodes ??? with its limits
        </div>
    </div>
</div>


