<!--div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title"># of jobs</small>
                <h4>{{ data?.total?.jobs + data.active_jobs | number:'1.0' }}</h4>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title">Used core time</small>
                <h4>{{ data?.total?.duration | number:'1.0' }} s</h4>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title"># of required nodes</small>
                <h4>{{ data?.total?.nodes | number:'1.0' }}</h4>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title"># of required cores</small>
                <h4>{{ data?.total?.cpus | number:'1.0' }}</h4>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title"># of required GPUs</small>
                <h4>{{ data?.total?.gpus | number:'1.0' }}</h4>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-block text-center">
                <small class="card-title"># of required MICs</small>
                <h4>{{ data?.total?.mics | number:'1.0' }}</h4>
            </div>
        </div>
    </div>
</div-->

<div class="row mb-3">
    <div class="col-10">
        <div class="card text-center">
            <ex-graph
                [data]="data?.load"
                [loading]="data?.loading_load"
                topTitle="Cluster Load" labelY="Load (%)"></ex-graph>
        </div>
    </div>

    <div class="col-2">
        <div class="card mb-1">
            <div class="card-block text-center">
                <small class="card-title">Average Load</small>
                <h4>
                    <span *ngIf="!data?.loading_load_total">
                        {{ data?.load_total?.data[0][1] | number:'1.0-2' }}
                    </span>
                    <span *ngIf="data?.loading_load_total">--</span>
                    %
                </h4>
            </div>
        </div>

        <div class="card">
            <div class="card-block text-center">
                <small class="card-title">Current Load</small>
                <h4>
                    <span *ngIf="!data?.loading_load">
                        {{ data?.load?.data[data['load']['data'].length - 1][1] | number:'1.0-2' }}
                    </span>
                    <span *ngIf="data?.loading_load">--</span>
                    %
                </h4>
            </div>
        </div>

    </div>
</div>

<div class="row mb-3">
    <div class="col-10">
        <div class="card text-center">
            <ex-graph
                [data]="data?.temp"
                [loading]="data?.loading_temp"
                [range]="null"
                topTitle="Cluster Temperature"
                labelY="Temperature (°C)">
            </ex-graph>
        </div>
    </div>

    <div class="col-2">
        <div class="card mb-1">
            <div class="card-block text-center">
                <small class="card-title">Average Temperature</small>
                <h4>
                    <span *ngIf="!data?.loading_temp_total">
                        {{ data?.temp_total?.data[0][1] | number:'1.0-2' }}
                    </span>
                    <span *ngIf="data?.loading_temp_total">--</span>
                    °C
                </h4>
            </div>
        </div>

        <div class="card">
            <div class="card-block text-center">
                <small class="card-title">Current Temperature</small>
                <h4>
                    <span *ngIf="!data?.loading_temp">
                        {{ data?.temp?.data[data['temp']['data'].length - 1][1] | number:'1.0-2' }}
                    </span>
                    <span *ngIf="data?.loading_temp">--</span>
                    °C
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-10">
        <div class="card text-center">
            <ex-graph
                [data]="data?.power"
                [loading]="data?.loading_power"
                [range]="null"
                topTitle="Node Power Consumption"
                labelY="Power (W)">
            </ex-graph>
        </div>
    </div>


    <div class="col-2">
        <div class="card mb-1">
            <div class="card-block text-center">
                <small class="card-title">Average node power consumption</small>
                <h4>
                    <span *ngIf="!data?.loading_power_total">
                        {{ data?.power_total?.data[0][1] | number:'1.0-2' }}
                    </span>
                    <span *ngIf="data?.loading_power_total">--</span>
                    W
                </h4>
            </div>
        </div>

        <div class="card">
            <div class="card-block text-center">
                <small class="card-title">Current power consumption</small>
                <h4>
                    <span *ngIf="!data?.loading_power">
                        {{ data?.power?.data[data['power']['data'].length - 1][1] | number:'1.0-2' }}
                    </span>
                    <span *ngIf="data?.loading_power">--</span>
                    W
                </h4>
            </div>
        </div>

    </div>
</div>

<div class="row mb-3">
    <div class="col-10">
        <div class="card text-center">
            <ex-graph
                [data]="data?.gpu"
                [loading]="data?.loading_gpu"
                [range]="null"
                topTitle="Average GPU Power Consumption Per Node"
                labelY="Power (W)">
            </ex-graph>
        </div>
    </div>


    <div class="col-2">
        <div class="card mb-1">
            <div class="card-block text-center">
                <small class="card-title">Average power consumption</small>
                <h4>
                    <span *ngIf="!data?.loading_gpu_total">
                        {{ data?.gpu_total?.data[0][1] | number:'1.0-2' }}
                    </span>
                    <span *ngIf="data?.loading_gpu_total">--</span>
                    W
                </h4>
            </div>
        </div>

        <div class="card">
            <div class="card-block text-center">
                <small class="card-title">Current power consumption</small>
                <h4>
                    <span *ngIf="!data?.loading_gpu">
                        {{ data?.gpu?.data[data['gpu']['data'].length - 1][1] | number:'1.0-2' }}
                    </span>
                    <span *ngIf="data?.loading_gpu">--</span>
                    W
                </h4>
            </div>
        </div>

    </div>
</div>

<div class="row mb-3">
    <div class="col-10">
        <div class="card text-center">
            <ex-graph
                [data]="data?.fan"
                [loading]="data?.loading_fan"
                [range]="null"
                topTitle="Average Fan Power Consumption Per Node"
                labelY="Power (W)">
            </ex-graph>
        </div>
    </div>


    <div class="col-2">
        <div class="card mb-1">
            <div class="card-block text-center">
                <small class="card-title">Average power consumption</small>
                <h4>
                    <span *ngIf="!data?.loading_fan_total">
                        {{ data?.fan_total?.data[0][1] | number:'1.0-2' }}
                    </span>
                    <span *ngIf="data?.loading_fan_total">--</span>
                    W
                </h4>
            </div>
        </div>

        <div class="card">
            <div class="card-block text-center">
                <small class="card-title">Current power consumption</small>
                <h4>
                    <span *ngIf="!data?.loading_fan">
                        {{ data?.fan?.data[data['fan']['data'].length - 1][1] | number:'1.0-2' }}
                    </span>
                    <span *ngIf="data?.loading_fan">--</span>
                    W
                </h4>
            </div>
        </div>

    </div>
</div>
