<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_load_core']"
                [loading]="data['loading_load_core']"
                topTitle="Allocated Cores' Load"
                labelY="Load (%)">
            </ex-graph>
             <ex-graph
                [data]="data['job_load_core_cluster']"
                [loading]="data['loading_load_core_cluster']"
                topTitle="Allocated Cluster's Load"
                height="100"
                labelY="Load (%)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card text-center">
            <ex-graph
                [data]="data['job_utils']"
                [loading]="data['loading_utils']"
                topTitle="Utilization"
                labelY="Utilization (%)">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col row">

        <div class="col-12 mb-1">
            <div class="card text-center">
                <ex-graph
                    [data]="data['job_fe_bound']"
                    [loading]="data['loading_fe_bound']"
                    height="150"
                    topTitle="Front-end Bound"
                    labelY="Bounds (%)">
                </ex-graph>
            </div>
        </div>

        <div class="col-12">
            <div class="card text-center">
                <ex-graph
                    [data]="data['job_be_bound']"
                    [loading]="data['loading_be_bound']"
                    height="150"
                    topTitle="Back-end Bound"
                    labelY="Bounds (%)">
                </ex-graph>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col row">
        <div class="col-12">
            <div class="card text-center">
                <ex-graph
                    [data]="data['job_febe_bound']"
                    [loading]="data['loading_febe_bound']"
                    height="150"
                    stacked="true"
                    topTitle="Front/Back-end Bound"
                    labelY="Utilization (%)">
                </ex-graph>
            </div>
        </div>

    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_ips']"
                [loading]="data['loading_ips']"
                topTitle="IPS"
                range="null"
                labelY="IPS">
            </ex-graph>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <div class="card text-center">
           <ex-graph
                [data]="data['job_cstates']"
                [loading]="data['loading_cstates']"
                topTitle="C3 & C6 States"
                labelY="Share">
            </ex-graph>
        </div>
    </div>
</div>

